<!-- FOOTER -->
<footer class="main-footer">
    <div class="main-container">
    <!-- Fila superior -->
    <div class="main-footer__upper">
        <!-- Redes Sociales -->
        <div class="main-footer__row main-footer__row-1">
        <div class="main-footer__social-cont">
            <a
            class='js-link-linkedin'
            title="LinkedIn"
            target="_blank"
            rel="noopener noreferrer"
            href="#"
            >
            <img
                class="main-footer__icon"
                src="icons/linkedin-ico.png"
                alt="LinkedIn"
            />
            </a>
            <a
            class="js-link-github"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            title="GitHub"
            >
            <img
                class="main-footer__icon"
                src="icons/github-ico.svg"
                alt="GitHub"
            />
            </a>
            <a
            class="js-link-curriculum"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            title="Curriculum"
            >
            <img
                class="main-footer__icon"
                src="icons/cv-ico.svg"
                alt="Curriculum"
            />
            </a>
        </div>
        </div>

        <!-- Información -->
        <div class="main-footer__row main-footer__row-2">
        <h4 class="heading heading-sm js-user-name"></h4>
        <p class="main-footer__short-desc">
            Ingeniero Físico especializado en Ciencia de Datos
        </p>
        </div>
    </div>

    <!-- Fila inferior -->
    <div class="main-footer__lower">
        <p>
        Trabajo con modificaciones basado en plantilla de
        <a
            rel="noopener noreferrer"
            target="_blank"
            href="https://rammaheshwari.com"
        >Ram Maheshwari</a>
        </p>
        <p>© 2025 Ariel Núñez. Todos los derechos reservados.</p>
    </div>
    </div>
</footer>

