// ===========================
// ABSTRACTS (PRIMERO)
// ===========================
@use 'abstracts' as *;

// ===========================
// BASE (Estilos globales)
// ===========================
@use 'base/normalize' as *;
@use 'base/base' as *;
@use 'base/typography' as *;

// ===========================
// LAYOUT (Estructura)
// ===========================
@use 'layout/container' as *;

// ===========================
// COMPONENTS (UI)
// ===========================
@use 'components/buttons' as *;
@use 'components/forms' as *;
@use 'components/header' as *;
@use 'components/footer' as *;
@use 'components/skills' as *;
//@use 'components/menu' as *;
@use 'components/mouse-scroll' as *;

// ===========================
// PAGES (Por página)
// ===========================
@use 'pages/home' as *;
@use 'pages/project-case-study' as *;

// ===========================
// UTILITIES (Último)
// ===========================
//@use 'abstracts/utilities' as *;
