
<!-- HEADER -->
<header class="header">
    <div class="header__content">
    <div class="header__logo-container">
        <div class="header__logo-img-cont">
            <!-- Logo: NOMBRE PRINCIPAL Y LOGO DE USUARIO -->
            <img
                src="images/png/ariel-nunez.png"
                alt="Logo User"
                class="header__logo-img"
            />
        </div>
        <span class="header__logo-sub js-user-name"></span>
    </div>

    <!-- Menú Desktop -->
    <div class="header__main">
        <ul class="header__links">
        <li class="header__link-wrapper">
            <a href="#" id="header_main_page" class="header__link js-nav-main"></a>
        </li>
        <li class="header__link-wrapper">
            <a href="#" id="header_project_name" class="header__link js-nav-projects"></a>
        </li>
        <li class="header__link-wrapper">
            <a href="#" id="header_about_name" class="header__link js-nav-about"></a>
        </li>
        <li class="header__link-wrapper">
            <a href="#" id="header_contact_name" class="header__link js-nav-contact"></a>
        </li>
        <!-- Botón de idioma Desktop -->
        <li class="header__link-wrapper">
            <button id="lang-toggle" class="btn-header__lang">EN</button>
        </li>
        </ul>

        <!-- Botón de idioma mobiles -->
        <button id="lang-toggle-mobile" class="btn-header__lang btn-header__lang--mobile">EN</button>

        <!-- Menú Hamburguesa -->
        <div class="header__main-ham-menu-cont">
        <img
            src="images/svg/ham-menu.svg"
            alt="Abrir menú"
            class="header__main-ham-menu"
        />
        <img
            src="images/svg/ham-menu-close.svg"
            alt="Cerrar menú"
            class="header__main-ham-menu-close d-none"
        />
        </div>
    </div>
    </div>

    <!-- Menú Mobile -->
    <div class="header__sm-menu">
    <div class="header__sm-menu-content">
        <ul class="header__sm-menu-links">
        <li class="header__sm-menu-link">
            <a href="#" class="js-nav-main"></a>
        </li>
        <li class="header__sm-menu-link">
            <a href="#" class="js-nav-about"></a>
        </li>
        <li class="header__sm-menu-link">
            <a href="#" class="js-nav-projects"></a>
        </li>
        <li class="header__sm-menu-link">
            <a href="#" class="js-nav-contact"></a>
        </li>
        </ul>
    </div>
    </div>
</header>
