// ==========================================
// TYPOGRAPHY - Estilos de texto
// ==========================================

@use '../abstracts/variables' as *;

body {
    font-family: $font-primary;
    font-size: $fs-body;
    font-weight: $fw-regular;
    line-height: 1.7;
    color: $clr-dark;
}

h1,
h2,
h3 {
    font-weight: $fw-extrabold;
    line-height: 1.2;
}

h1 {
    font-size: $fs-h1;
}

h2 {
    font-size: $fs-h2;
}

h3 {
    font-size: $fs-h3;
}

p {
    font-size: $fs-body;
    color: $clr-gray;
}
